body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(143, 143, 143);
}

div {
    background-color: rgb(106, 106, 106); 
    padding: 40px;
}