body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center ;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div input {
    padding: 15px;
    background-color: rgba(20, 216, 20, 0.81);
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}