@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  /*FONTES*/
    --font: "Inter", sans-serif;
    --poppins: "Poppins", sans-serif;
}

*{
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(218, 218, 218);
}

#container {
  padding: 10px;
  max-width: 650px;
}

#container > h2 {
  padding: 5px;
  font-family: var(--font);
  font-size: 20px;
  border-bottom: 1px solid #999;
  margin-bottom: 15px;
}

.resultadoTarefas {
  display: flex;
  gap: 15px;
}

.tarefas {
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

.blue {
  background-color: #3B6AC2;
}

.green {
  background-color: #6AA668;
}

.orange {
  background-color: #EF883C;
}

.purple {
  background-color: #7E4A8C;
}

.tarefas > span {
  color: white;
  font-family: var(--font);
  font-weight: 500;
  margin-bottom: 10px;
}

.tarefas > p {
  color: white;
  font-family: var(--poppins);
  font-size: 23px;
  font-weight: 400;
}