@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  /*FONTES*/
    --font: "Inter", sans-serif;
}

*{
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(218, 218, 218);
}

#container {
  padding: 10px;
  width: 360px;
}

#container > h2 {
  padding: 5px;
  font-family: var(--font);
  font-size: 20px;
  border-bottom: 1px solid #999;
  margin-bottom: 15px;
}

.resultadoTarefas {
  display: flex;
  gap: 10px;
}
