@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  /*FONTES*/
    --font: "Inter", sans-serif;
    --poppins: "Poppins", sans-serif;
}

*{
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(218, 218, 218);
}

#container {
  padding: 10px;
  max-width: 650px;
}

#container > h2 {
  padding: 5px;
  font-family: var(--font);
  font-size: 20px;
  border-bottom: 1px solid #999;
  margin-bottom: 15px;
}

.resultadoTarefas {
  display: flex;
  gap: 15px;
}

.tarefas {
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

.blue {
  background-color: #3B6AC2;
}

.green {
  background-color: #6AA668;
}

.orange {
  background-color: #EF883C;
}

.purple {
  background-color: #7E4A8C;
}

.tarefas > span {
  color: white;
  font-family: var(--font);
  font-weight: 500;
  margin-bottom: 10px;
}

.tarefas > p {
  color: white;
  font-family: var(--poppins);
  font-size: 23px;
  font-weight: 400;
}

.adicionareTarefas {
  margin-top: 10px;
}

#background {
  background-color: white;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 15px;
}

#background > h2 {
  padding-bottom: 6px;
  font-family: var(--font);
  font-weight: 500;
  margin-bottom: 10px;
  border-bottom: 1px solid #999;
}

.inputsTxt {
  display: flex;
  gap: 10px;
}  

.inputsTxt > input {
  min-width: 200px;
  padding: 5px;
  border-radius: 3px;
  border: 2px solid #dcdcdc;
}

.inputsTxt > input::placeholder {
  padding: 10px;
  margin-left: 10px;
}

.prioridadeDaTarefa {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
}

.prioridade-alta {
  background-color: #D93240;
}

.prioridade-media {
  background-color: rgba(222, 222, 35, 0.772);
}

.prioridade-baixa {
  background-color: #6AA668;
}

.prioridadeDaTarefa > p {
  padding: 5px;
  font-family: var(--font);
}

.prioridadeDaTarefa > select {
  font-family: var(--font);
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  padding: 6px;
  outline: none;
}

.inputsTxt > button {
  background-color: #6AA668;
  border: none;
  padding: 5px;
  border-radius: 3px;
  color: white;
  font-family: var(--font);
  cursor: pointer;
  transition: .3s;
}

.inputsTxt > button:hover {
  background-color: #598a58;
}

#ListaDeTarefas > h2 {
    font-family: var(--poppins);
    border-bottom: 1px solid black;
    padding: 5px;
}

.resultadoListaTarefas {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.cards {
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 25%;
}


.textNameEPrioridade {
  display: flex;
  gap: 90px;
}

.textNameEPrioridade {
  font-family: var(--font);
}

.nomeTarefa {
  color: #D93240;
  font-weight: 700;
}

.resultadoPrioridade {
  color: white;
  padding: 3px;
  border-radius: 4px;
}

.status {
  font-weight: 600;
  font-family: var(--font);
}

#estadoDoStatus {
  display: none;
}

.editar {
  cursor: pointer;
  background-color: #3B74BF;
  min-width: 60px;
  font-family: var(--poppins);
  padding: 4px;
  border-radius: 3px;
  color: white;
  border:none;
  transition: .3s;
  margin-bottom: 5px;
}

.editar:hover {
  background-color: #2c5489;
}

.excluir {
  cursor: pointer;
  min-width: 60px;
  font-family: var(--poppins);
  padding: 4px;
  border-radius: 3px;
  border: none;
  background-color: #D93240;
  color: white;
  font-family: var(--poppins);
  transition: .3s;
}

.excluir:hover {
  background-color: #a92732;
}