*{ 
    margin: 0;
    padding: 0;
    
}


.container {
    width: 25vw;
    margin: 80px auto;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    min-width: 300px;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid black;
    outline-color: rgb(204, 204, 204);
    margin: 10px;
}

input::placeholder {
    padding: 10px;
}