*{ 
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    width: 25vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 5px;
    margin: 15px auto;
}

h1 {
    text-align: center;
}

.text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    min-width: 300px;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid black;
    outline-color: rgb(204, 204, 204);
    margin: 10px;
}

input::placeholder {
    color: #000;
    padding: 10px;
}

button {
    border-radius: 5px;
    padding: 15px;
    border: none;
    background: rgb(28, 173, 221);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    color: rgb(201, 201, 201);
    background: rgb(19, 129, 166);
}

#mensaguem {
    border-radius: 5px ;
    border: 1px solid black;
    margin: 20px;
}

#mensaguem > p {
    margin: 10px;    
}

span {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    padding: 9px;border-radius: 3px;
    margin: 1px 10px 5px 20px;
}