*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #999;
}

div > input {
    cursor: pointer;
    padding: 20px;
    margin: 40px;
    background-color: bisque;
    border: none;
}